<div *ngIf="isLoggedIn()">
    {{ moveToDashboard() }}
</div>

<div class="login-box">
    <h1>Login</h1>
    <div class="textbox">
        <i class="fas fa-user"></i>
        <input [(ngModel)]="input.username" type="text" placeholder="Username">
    </div>
  
    <div class="textbox">
        <i class="fas fa-lock"></i>
        <input [(ngModel)]="input.password" type="password" placeholder="Password">
    </div>
  
    <input type="button" class="btn" value="Sign in" (click)="loginUser()">
  </div>
