<h2>Pizzas</h2>

<div>
  <label>Pizza name:
    <input #pizzaName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(pizzaName.value); pizzaName.value=''">
    add
  </button>
</div>

<ul class="pizzas">
  <li *ngFor="let pizza of pizzas">
    <a routerLink="/pizzas/{{pizza.pk}}">
      <span class="badge">{{pizza.pk}}</span> {{pizza.name}}
    </a>
    <button class="delete" title="delete pizza"
      (click)="delete(pizza)">x</button>
  </li>
</ul>
