<div class="full-width">
  <h2>Pizzas</h2>
</div>

<div>
  <div>
    <label>Pizza name:
      <input #pizzaName />
    </label>
  </div>

  <div>
    <label>Pizza description:
      <input #pizzaDesc />
    </label>
  </div>

  <div>
    <label>Pizza price:
      <input #pizzaPrice />
    </label>
  </div>
  
  <button (click)="add(
                        pizzaName.value,
                        pizzaDesc.value, 
                        pizzaPrice.value
                      );
                      pizzaName.value='';
                      pizzaDesc.value='';
                      pizzaPrice.value=''">
    add
  </button>
</div>

<ul class="pizzas">
  <li *ngFor="let pizza of pizzas">
    <a routerLink="/pizzas/{{pizza.pk}}">
      <span class="badge">{{pizza.pk}}</span> {{pizza.name}}
    </a>
    <button class="delete" title="delete pizza"
      (click)="delete(pizza)">x</button>
  </li>
</ul>
