<div class="full-width">
  <h2>Pizzas</h2>
</div>

<div class="pizza-list">
  <ul class="pizzas">
    <li *ngFor="let pizza of pizzas">
      <a routerLink="/pizzas/{{pizza.pk}}">
        <span class="badge">{{pizza.pk}}</span> {{pizza.name}}
      </a>
      <button class="delete" title="delete pizza"
        (click)="delete(pizza)">x</button>
    </li>
  </ul>
</div>


<div class="pizza-box">
  <div class="pizza-form">
    <div class="textbox">
        <input #pizzaName placeholder="Name">
    </div>
  
    <div class="textbox">
        <input #pizzaDesc placeholder="Description">
    </div>
  
    <div class="textbox">
        <input #pizzaPrice placeholder="Price">
    </div>
  
    <input type="button"
           class="btn" 
           value="Add pizza" 
           (click)="add(
                      pizzaName.value,
                      pizzaDesc.value, 
                      pizzaPrice.value
                    );
                    pizzaName.value='';
                    pizzaDesc.value='';
                    pizzaPrice.value=''">
  </div>
</div>
