<div *ngIf="isLoggedIn()">
    <nav class="navbar">
        <ul>
            <li><a routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>
            <li><a routerLink="/pizzas" routerLinkActive="active">Pizzas</a></li>
            <li><a routerLink="/managers" routerLinkActive="active">Managers</a></li>
            <li><a routerLink="/demands" routerLinkActive="active">Demands</a></li>
            <li style="float:right"><a routerLink="" (click)="logout()">Logout</a></li>
        </ul>
    </nav>
</div>
<router-outlet></router-outlet>
